.bg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 500px;
}

.logo-box {
    position: relative;
    width: 200px;
    left: 50%;
    top: 130px;
    transform: translate(-50%, 0%);
}

.form {
    position: relative;
}

.pass,
.email {   
    position: absolute;
    left: 20px;
    right: 20px;
    top: 170px;

    padding: 15px;
    border-radius: 100px;

    border: none;

    background-color: rgb(211, 211, 211);
}

.pass {
    top: 220px;
}

.log-button {
    position: relative;
    width: 200px;
    left: 50%;
    top: 280px;
    transform: translate(-50%, 0%);

    padding: 12px;
    border-radius: 100px;
    border: none;
    background-color: rgb(93, 201, 252);

    color: white;
}

.no_acc {
    position: absolute;

    font-family: Arial;
    font-size: 13px;

    left: 50%;
    top: 340px;
    transform: translate(-50%, 0%);
    
    color: rgb(39, 142, 177);
}

.log-button:hover,
.no_acc:hover {
    cursor: pointer;
}