.welcome {
    font-family: Arial;
    font-size: 70px;
    font-weight: 400;

    position: absolute;
    top: 150px;
    left: 16px;
}

.back {
    height: 250px;
    width: 100%;
    object-fit: cover;

    opacity: 100%;

    position: relative;
    text-align: center;
}

.study {
    position: absolute;
    top: 260px;
    left: 16px;

    background-color: blue;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 150px;
    border: none;
}

.questions {
    position: absolute;
    top: 260px;
    left: 140px;

    background-color: rgb(255, 0, 212);
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 150px;
    border: none;
}

.study:hover,
.questions:hover {
    cursor: pointer;
}

.center {
    position: relative;
    height: 70px;
    top: 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 250px;
}

@media (min-width: 1000px) {
    .box {
        height: 700px;
    }

    .center {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.boxes {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.box {
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0;
    right: 0;

    height:200px;
}

.top-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 255, 106);

    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;

    border-color: rgb(107, 107, 107);
    border-width: 1px;
    border-style: solid;

    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    color: rgb(34, 34, 34);
    text-align: center;
}
